@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF !important;
}

.wrap {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  width: 100%;
  height: 7%;
  left: 0;
  top: 0;
  background: #1A1A1B;
  display: flex;
  flex-direction: row;
}

.left-side {
  display: flex;
  width: 70%;
  height: 4rem;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.logo {
  position: absolute;
  display: flex;
}

.right-side {
  display: flex;
  width: 30%;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.contacts {
  display: flex;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.enter {
  display: flex;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.main {
  width: 100%;
  height: 93%;
  display: flex;
  box-sizing: border-box;
  background: linear-gradient(rgba(37, 37, 41, 0.8), rgba(37, 37, 41, 0.8)), url('../public/images/BG.webp') no-repeat center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.server-response-form {
  display: flex;
  width: 700px;
  height: 400px;
  background: #252529;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  border: 1px solid #7B7B7B;
}

.text {
  display: flex;
  width: 600px;
  height: 300px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  align-items: center;
}